<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataServerHost" value="127.0.0.1"/>
    <add key="DataServerPort" value="5000"/>
    <add key="DigiMap" value="http://192.168.31.12:8000/"/>
    <!-- <add key="DigiMap" value="http://192.168.12.17:8000/"/> -->
    <add key="DatabaseConnection" value="" />
    <add key="RoadQuery" value="?ref=503&amp;long1=17.150139&amp;lat1=48.370298&amp;long2=17.265176&amp;lat2=48.306885"/>

    <add key = "CurvetureCalcMethod" value="SIMPLE_CIRCLE"/>
    <add key = "SimplificationMethod" value="DOUGLAS_PEUCKER"/>
    <add key="RoadQueryLong1" value= "17.150139"/>
    <add key="RoadQueryLat1" value= "48.370298"/>
    <add key="RoadQueryLong2" value= "17.265176"/>
    <add key="RoadQueryLat2" value= "48.306885"/>
    <add key="RoadQueryRef" value= "503"/>
    <add key="LineSimplificationTolerance" value="0.001"/>
    <add key="CurvatureTreshold" value="0.001"/>
    <add key="CarDistanceSkipTreshold" value="1500"/>
    <add key="CurveCollisionCalculator" value="SimpleCurveRoadCurvatureCalculator"/>
    <add key="StraightCollisionCalculator" value="SimpleCurveRoadCurvatureCalculator"/>
  </appSettings>
</configuration>