<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataServer" value="ws://localhost:5000"/>
    <!-- <add key="DigiMap" value="http://192.168.31.13:8000/"/> -->
    <!-- <add key="DigiMap" value="http://192.168.12.17:8000/"/> -->
    <add key="DigiMap" value="http://192.168.31.12:8000/"/>
    <!-- <add key="DigiMap" value="http://10.62.44.166:8000"/> -->
    <add key="DatabaseConnection" value="" />
    <!-- <add key="RoadQuery" value="?ref=503&amp;long1=17.150139&amp;lat1=48.370298&amp;long2=17.265176&amp;lat2=48.306885"/> -->
    <!-- <add key="RoadQuery" value="?ref=516&amp;long1=18.147525&amp;lat1=48.903894&amp;long2=18.213055&amp;lat2=48.847997"/> -->
    <!-- <add key="RoadQueryLong1" value= "18.147525"/>
    <add key="RoadQueryLat1" value= "48.903894"/>
    <add key="RoadQueryLong2" value= "18.213055"/>
    <add key="RoadQueryLat2" value= "48.847997"/>
    <add key="RoadQueryRef" value= "516"/> -->
    <add key = "CurvetureCalcMethod" value="SIMPLE_CIRCLE"/>
    <add key = "SimplificationMethod" value="DOUGLAS_PEUCKER"/>
    <add key="RoadQueryLong1" value= "17.150139"/>
    <add key="RoadQueryLat1" value= "48.370298"/>
    <add key="RoadQueryLong2" value= "17.265176"/>
    <add key="RoadQueryLat2" value= "48.306885"/>
    <add key="RoadQueryRef" value= "503"/>
    <add key="LineSimplificationTolerance" value="0.001"/>
    <add key="CurvatureTreshold" value="0.001"/>
    <add key="CarDistanceSkipTreshold" value="1500"/>
    <add key="CurveCollisionCalculator" value="SimpleCurveRoadCurvatureCalculator"/>
    <add key="StraightCollisionCalculator" value="SimpleCurveRoadCurvatureCalculator"/>
  </appSettings>
</configuration>