<configuration>
  <appSettings>

    <!-- <add key="DataServerHost" value="localhost"/> -->
    <!-- <add key="DATASERVER_HOST" value="integration_module"/> -->
    <add key="DATASERVER_HOST" value="localhost"/>
    <add key="DATASERVER_PORT" value="1998"/>

    <!-- <add key="DigiMap" value="http://10.10.1.127:8000/"/> -->
    <!-- <add key="DigiMap" value="http://192.168.31.12:8000/"/> -->
    <!--<add key="DigiMap" value="http://192.168.43.43:8000/"/> -->
    <!-- <add key="DigiMap" value="http://192.168.12.17:8000/"/> -->

    <add key="DIGIMAP_HOST" value="localhost"/>
    <add key="DIGIMAP_PORT" value="8000"/>

    <!-- <add key="DIGIMAP_URL" value="https://backend.ail-student.fiit.stuba.sk/"/> -->

    <add key = "CURVETURE_CALC_METHOD" value="CircumcircleRoadCircleCurvesResolver"/>
    <add key = "SIMPLIFICATION_METHOD" value="DouglasPeuckerRoadSectionSimplification"/>
    <!-- <add key="RoadQueryLong1" value= "17.150139"/> -->
    <!-- <add key="RoadQueryLat1" value= "48.370298"/> -->
    <!--<add key="RoadQueryLong2" value= "17.265176"/>-->
    <!-- <add key="RoadQueryLat2" value= "48.306885"/> -->


    <add key="RoadQueryLong1" value= "20.235477"/>
    <add key="RoadQueryLat1" value= "48.917797"/>
    <add key="RoadQueryLong2" value= "20.267999"/>
    <add key="RoadQueryLat2" value= "48.887454"/>

    <add key="CustomRoadParameters" value= "ref=66"/>
    <!-- <add key="RoadQueryRef" value= "66"/> -->

    <!-- <add key="RoadQueryLong1" value= "17.072069"/> -->
    <!--<add key="RoadQueryLat1" value= "48.154932"/> -->
    <!--<add key="RoadQueryLong2" value= "17.075229"/> -->
    <!--<add key="RoadQueryLat2" value= "48.149612"/> -->
   
    <add key="LINE_SIMPLIFICATION_TOLERANCE" value="0.5"/>
    <add key="CURVATURE_TRESHOLD" value="0.006"/>
    <add key="CAR_DISTANCE_SKIP_TRESHOLD" value="500"/>
    <add key="CURVE_COLLISION_CALCULATOR" value="SimpleCurveRoadCurvatureCalculator"/>
    <add key="STRAIGHT_COLLISION_CALCULATOR" value="SimpleTTCCalculator"/>
    <add key="MAX_SPEED_CALC_METHOD" value="SimpleSpeedCalculatorBasedOnCurvature"/>

    <!-- <add key="RoadGroupByAttribute" value="Name"/> -->
    
  </appSettings>
</configuration>